<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SISPEL"
			 connectionString="Data Source=SERVIDOR;Initial Catalog=SISPEL_DB;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
